<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="RegressionSuite" verbose="5" parallel="methods" thread-count="5">

    <parameter name="baseURL" value="http://automationpractice.com/index.php"/>

    <test name="RegressionTests-Chrome" >
        <parameter name="environment" value="chrome"/>
        <classes>
            <class name="Specs.HelloFreshTest" />
        </classes>
    </test>

    <test name="RegressionTests-Firefox" >
        <parameter name="environment" value="firefox"/>
        <classes>
            <class name="Specs.HelloFreshTest" />
        </classes>
    </test>

</suite>